services:
  openvscode:
    image: gitpod/openvscode-server
    init: true
    user: "{{ item.uid }}:{{ item.gid }}"
    ports:
      - "127.0.0.1:{{ item.port }}:3000"
    volumes:
      - .:/home/workspace:cached
    stdin_open: true
    tty: true
    restart: unless-stopped
